---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contact" sideBarActiveItemID="contact">
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Contact</div>
      </div>

      <div class="mb-10 text-justify">
        You can get in touch via
        <div>Email: joseasv@outlook.com</div> 
        <div>LinkedIn: <a href="https://www.linkedin.com/in/joseasv">linkedin.com/in/joseasv</a>
        </div>
        <div>GitHub: <a href="https://github.com/joseasv">github.com/joseasv</a></div> 
        
      </div>
</BaseLayout>