---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I'm a Computer Science professor and programmer with an interest in game development. Although I have some experience working with desktop and web applications with Java and Python,
    I'm recently focusing on creating games.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master of Science (MSc), Applied Computing"
      subtitle="2011 to 2016 at Instituto de Cálculo Aplicado, Facultad de Ingeniería, Universidad del Zulia, Maracaibo, Venezuela"
    />
    <TimeLineElement
      title="Bachelor of Science, Computer Science"
      subtitle="2004 to 2010 at Departamento de Computación, Facultad Experimental de Ciencias, Universidad del Zulia, Maracaibo, Venezuela"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Full-time Computer Science Professor"
      subtitle="From 2014 to Present at Departamento de Computación, Universidad del Zulia, Maracaibo, Venezuela"
    >
    My usual courses are Data Structures and Introduction to Graph Theory. Sometimes I also help with the Computer Graphics course and with the elective course Introduction to Game Development. Lastly, I'm the current Academic Coordinator of the Computer Science Program.

    </TimeLineElement>
    <TimeLineElement
      title="Remote Part-time Game Programmer at Brainable"
      subtitle="From 2018 to 2024 at ATH Digital Media, New York, USA"
    >
    In this job I designed and developed various brain training like game concepts using Javascript and the Cocos Creator engine. Of those games. 11 were uploaded on the client's web site <a href="https://brainable.com/">https://brainable.com/</a>. I worked as a game designer and aIso as a game programmer.

    I created the games since their initial idea along with a game prototype with core game mechanics. Within some iterations fleshing out details like adding or simplifyng game mechanics I had the core gameplay mostly ready, the initial work of the difficulty progression and a level generator. Lastly, I then implemented the difficulty progression tuning a number of game parameters ,introduced in the previous phase, according to the level to be loaded.

    The games had 30 levels each and a tutorial level. All levels were procedurally generated. I also designed the difficulty progression that made games sligthly harder on each level.

    You can check a <a href="https://youtu.be/O9aYmq85Ujk?si=E6s9EWeyNnQ54UJB">video</a> of some of my games that were uploaded to the site and a <a href="https://youtu.be/aMDQ4XKYaxg?si=7yp__XtVIBxexGDz">video</a> of the last game concept I did.
  </TimeLineElement>
<TimeLineElement
      title="Full-time Programmer at Fundación Petrociencia"
      subtitle="From 2011 to 2018 at Fundación Petrociencia, Maracaibo, Venezuela"
    >
    Developed web and desktop applications related to the oil production industry. I collaborated on: A Java desktop application called Diagramas Mecánicos, a graphical application, with the main objective of creating and editing schematic diagrams of oil wells; a GWT web application (Served with GlassFish and hosted in DigitalOcean) called PVT that made a lot petrophysical calculations along with many graphs visualizations and also a simpler full stack application that used a Jersey REST backend and a Javascript (JQuery) frontend. I also collaborated on Python and Django applications. Database work was done in Postgres in all cases, with an in house ORM in Java backends.</TimeLineElement>
    <TimeLineElement
      title="Full-time Help Desk at Oxiteno Andina"
      subtitle="From 2011 to 2011 at Oxiteno Andina, Santa Rita, Venezuela"
    >
    Technical Service.</TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Javascript ES6</li>
    <li>Java</li>
    <li>C++</li>
    <li>C#</li>
    <li>Python</li>
    <li>Django</li>
    <li>Postgres</li>
    <li>SQL</li>
    <li>Basic OpenGL</li>
    <li>C</li>
    <li>3D Modeling with Blender</li>
    <li>Three.js</li>
    <li>Git</li>
    <li>Game development</li>
    <li>Game design</li>
  </ul>
</BaseLayout>
